@charset "UTF-8";

:root {
    --c1: #000000;
    --c2: #14213D;
    --c3: #FCA311;
    --c4: #E5E5E5;
    --c5: #FFFFFF;
}

body {
    background: linear-gradient(to right, #a8dadc, #457b9d, #03045e);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
@keyframes gradient {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}